@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	background-color: #1D6DDE;
}

form {
	padding: 20px;
	margin-top: 50px;
}

form h6 {
	margin: 15px 0;
}